{% extends "layout.html"}
{% block content %}

<html>
    <h1> Registration Page </h1>
    <h2><a href="{{url_for('index')}}"> Return to home page. </a></h2>

    <b>Course ID:</b> {{course.id}}
    <b>Course Number:</b> {{course.course_number}}
    <b>Course Title:</b> {{course.course_title}}

    <form action="{{url_for('register_student', course_id=course_id)}}" method="POST">
        {{ student_form.hidden_tag() }}
        <p>Student Name 
            {{ student_form.student_id.label }}<br>
            {{ student_form.student_id(size=32 )}}<br>
            {% for error in student_form.student_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>Student Grade
            {{ student_form.student_grade.label }}<br>
            {{ student_form.student_grade(size=32 )}}<br>
            {% for error in student_form.student_grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ student_form.submit() }}</p>

    </form>

    {% for student in students}
    <b>Name:</b> {{}}
    

</html>

{% endblock %}